body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 20;
  padding: 0;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
h1 {
  text-align: left;
  color: #007bff;
}
button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
ul {
  list-style: none;
}
@media screen and (max-width: 1000px) {
  h1{
    font-size:30px;
  }
  body {
    zoom: 300%
  }
  label{
    font-size:30px;
  }
}