<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/dashboard.css') }}"
    />
  </head>
  <body>
    <h1>Welcome {{ user.email }}!</h1>
    <form id="newActivityForm">
      <label for="newActivityName">New Activity:</label>
      <input type="text" id="newActivityName" name="newActivityName" required />
      <input type="submit" value="Add Activity" />
    </form>
    <form id="recordActivityForm">
      <label for="activitySelect">Select Activity:</label>
      <select id="activitySelect" name="activity_id">
        {% if activities is not none %} {% for activity in activities %}
        <option value="{{ activity.id }}">{{ activity.name }}</option>
        {% endfor %} {% else %}
        <p>No activities saved yet.</p>
        {% endif %}
      </select>
      <button id="startButton">Start</button>
      <button id="stopButton" disabled>Stop</button>
      <p id="timer">00:00:00</p>
      <label for="notes">Notes:</label>
      <textarea id="notes"></textarea>
      <input type="submit" value="Save Record" id="saveButton" disabled />
    </form>
    <div id="activityData">
      <p></p>
    </div>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
  </body>
</html>
